block config
  include ../config/config.pug

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle} | #{siteTitle}
    meta(name="description" content=description)
    link(href="css/grid.css", rel="stylesheet")
    link(href="css/normalize.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    script(src="../js/script.js")
    
  body
    block main
      
    
        
      
        
      
      

            
          
          
          
        
        